:root{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  --navbarHeight: 3rem;
  --mainColumnWidth : 80rem;
  --darkGreen: hsl(206, 12%, 15%);
  --originalGreen: hsl(206, 12%, 39%);
  --veryLightGreen: hsl(206, 12%, 95%);
  --alphaWhiteLight: hsla(120, 6%, 100%, 0.2);
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
#Header {
  height: 25rem;
  background-image: linear-gradient(hsla(120, 0%, 0%, 0.5),hsla(120, 0%, 0%, 0.5)), url(./images/headerBackground.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Header h1 {
  color: white;
  font-size: 5rem;
  padding: 1rem;
  border: 0.3rem dotted white;
}

/* Sticky navbar */
#Navbar {
  min-height: var(--navbarHeight);
  color: white;
  background-color: transparent;
  transition: background-color 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  bottom: var(--navbarHeight);
  margin-bottom: calc(var(--navbarHeight) * -1);
  z-index: 1000;
}
.sticky {
  position: fixed !important; 
  bottom: auto !important;
  background-color: var(--darkGreen) !important;
}
.navContainer {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: var(--navbarHeight);
  max-width: var(--mainColumnWidth);
}
#Navbar ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
#Navbar ul a {
  text-decoration: none;
}
#Navbar li {
  color: white;
  font-size: calc(var(--navbarHeight) * 0.4);
  padding: 0 calc(var(--navbarHeight) * 0.4);
  height: var(--navbarHeight);
  display: flex;
  justify-content: center;
  align-items: center; 
}

/* Animated hamburger menu */
#Navbar li:hover {
  background-color: var(--alphaWhiteLight);
}
.menu {
  display: none;
}
.menu .burger {
  background-color: white;
  width: 60%;
  height: 3px;
  transition: background-color 1s;
  -webkit-transition: background-color 1s;
}
.menu .burger::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 60%;
  height: 3px;
  transform:translateY(calc(var(--navbarHeight) * -0.2));
  transition: transform 1s;
  -webkit-transition: -webkit-transform 1s;
}
.menu .burger::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 60%;
  height: 3px;
  transform:translateY(calc(var(--navbarHeight) * 0.2));
  transition: transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
}
.menu.open .burger{
  background-color: transparent;
}
.menu.open .burger::before{
  transform:translateY(0);
  transform: rotate(45deg);
}
.menu.open .burger::after{
  transform:translateY(0);
  transform: rotate(-45deg);
}

/* Navbar logo */
.logo {
  height: var(--navbarHeight);
  margin: 0;
  padding: 0 calc(var(--navbarHeight) * 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  height: calc(var(--navbarHeight) * 0.6);
}
.logo span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 calc(var(--navbarHeight) * 0.1);
  height: calc(var(--navbarHeight) * 0.6);
  font-size: calc(var(--navbarHeight) * 0.5);
}

/* Footer */
#Footer {
  justify-self: flex-end;
  background-color: var(--darkGreen);
  min-height: 20rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Footer a {
  color: white;
}
#Footer h3 {
  margin: 1rem 0;
}
.footerContent {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: calc(var(--mainColumnWidth) * 0.7);
  padding: 2rem 0;
}
.infoBox {
  padding: 0 2rem;
}
.contact > h3 {
  margin: 0;
}
#Footer .row {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.githubQR {
  width: auto;
  height: 15rem;
  margin: 0 2rem;
}
.contactIcon {
  height: 1.2rem;
  padding: 0.5rem 0.5rem;
  filter:  brightness(0) invert(1);
}

/* Main content of site */
.mainContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}
.main {
  flex: 1;
  max-width: var(--mainColumnWidth);
  display: flex;
  flex-direction: column;
}
.veryLightGreenBG {
  background-color: var( --veryLightGreen);
}
article {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 1rem 0;
}
article h2 {
  font-size: 2rem;
  color: var(--darkGreen);
}
article p {
  color: var(--originalGreen);
  font-weight: bolder;
}
article img {
  padding: 1rem;
}
.textBox {
  text-align: justify;
  padding: 1rem;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.column {
  display: flex;
  flex-direction: column;
}

/* Home */
#aboutArticle {
  margin-top: 2rem;
}
#aboutLogoImg {
  max-height: 9rem;
}
#responsiveQR {
  max-height: 16rem;
}
#responsiveArticle .textBox {
  max-width: 30rem;
}
#madeWithArticle {
  position: relative;
}
#BG {
  position: absolute;
  transform: translate(-50%);
  width: 100%;
  height: calc(100% - 6rem);
  z-index: -1;
}
#madeWithArticle .textBox {
  text-align: center;
}
#madeWithArticle .iconCard {
  width: 6.5rem;
  height: 9rem;
  padding: 1rem;
  margin: 0 0.5rem 1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--originalGreen);
}
#madeWithArticle .iconImg {
  width: 100%;
}


/* Adding style for mobile devices */
@media (max-width: 600px) {
  .menu {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--navbarHeight);
    height: var(--navbarHeight);
  }
  #Header {
    height: 20rem;
  }
  #Header h1 {
    font-size: 4rem;
  }
  /* Animated mobile menu */
  #Navbar ul {
    /* For some reason ul adds empty space on right side on scroll when width is setted
    to 100vw or %. Adding min width to 90vw and flex to 1 helps to get around it */
    min-width: 90vw;
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  #Navbar .hide a{
    transform: translateX(100vw);
    animation-name: hideList;
    animation-duration: 0.5s;
  }
  #Navbar .show a{
    transform: translateX(0);
    animation-name: showList;
    animation-duration: 0.5s;
  }
  #Navbar li {
    justify-content: flex-start;
  }
  #Navbar ul a {
    background-color: var(--originalGreen);
    transform: translateX(100vw);
  }
}
@keyframes showList {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes hideList {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw);
  }
}


@media (max-width: 480px) {
  #Header {
    height: 15rem;
  }
  #Header h1 {
    font-size: 3rem;
  }
}