:root{
  font-size: 16px;
  --navbarHeight: 3rem;
  --mainColumnWidth : 80rem;
  --darkGreen: hsl(206, 12%, 15%);
  --lighterGreen: hsl(206, 12%, 39%);
  --alphaWhiteLight: hsla(120, 6%, 100%, 0.2);
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.Header {
  height: 25rem;
  background-image: linear-gradient(hsla(120, 0%, 0%, 0.5),hsla(120, 0%, 0%, 0.5)), url(./images/headerBackground.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Header h1 {
  color: white;
  font-size: 5rem;
  padding: 1rem;
  border: 0.3rem dotted white;
}
.Navbar {
  min-height: var(--navbarHeight);
  color: white;
  background-color: transparent;
  transition: background-color 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  bottom: var(--navbarHeight);
  margin-bottom: calc(var(--navbarHeight) * -1);
  z-index: 1000;
}
.sticky {
  position: fixed;
  bottom: auto;
  background-color: var(--darkGreen);
}
.navContainer {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: var(--navbarHeight);
  max-width: var(--mainColumnWidth);
}
.Navbar ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
.Navbar li {
  font-size: calc(var(--navbarHeight) * 0.4);
  padding: 0 calc(var(--navbarHeight) * 0.4);
  height: var(--navbarHeight);
  display: flex;
  justify-content: center;
  align-items: center;

}
.Navbar li:hover {
  background-color: var(--alphaWhiteLight);
}
.logo {
  height: var(--navbarHeight);
  margin: 0;
  padding: 0 calc(var(--navbarHeight) * 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  height: calc(var(--navbarHeight) * 0.6);
}
.logo span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 calc(var(--navbarHeight) * 0.1);
  height: calc(var(--navbarHeight) * 0.6);
  font-size: calc(var(--navbarHeight) * 0.5);
}
.hamburger{
  display: none;
  height: var(--navbarHeight);
  font-size: calc(var(--navbarHeight) * 0.7);
  line-height: calc(var(--navbarHeight) * 0.7);
  padding: 0 calc(var(--navbarHeight) * 0.2)
}
.Footer {
  justify-self: flex-end;
  background-color: var(--darkGreen);
  height: 3rem;
}
.mainContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}
.main {
  flex: 1;
  max-width: var(--mainColumnWidth);
  display: flex;
  flex-direction: column;
  height: 100rem;
}

@media (max-width: 600px) {
  .Header {
    height: 20rem;
  }
  .Header h1 {
    font-size: 4rem;
  }
  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Navbar ul {
    /* For some reason ul adds empty space on right side on scroll when width is setted
    to 100vw or %. Adding min width to 90vw and flex to 1 helps to get around it */
    min-width: 90vw;
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--lighterGreen);
  }
  .Navbar li {
    justify-content: flex-start;
  }
  .Navbar .hide {
    display: none;
  }
}
@media (max-width: 480px) {
  .Header {
    height: 15rem;
  }
  .Header h1 {
    font-size: 3rem;
  }
}