:root{
  font-size: 16px;
  --darkGreen: hsl(120, 12%, 16%);
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.Header {
  height: 17rem;
  background-image: url(./images/headerBackground.jpeg);
  background-size: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Header h1 {
  color: white;
  font-size: 5rem;
  padding: 1rem;
  border: 0.3rem dotted white;
}
.Navbar {
  background-color: var(--darkGreen);
  height: 3rem;
}
.Footer {
  justify-self: flex-end;
  background-color: var(--darkGreen);
  height: 3rem;
}
.main {
  flex: 1;
}